{% extends 'base.html.twig' %}

{% block title %}Modify Company Data
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div>
					<div>
						<h1>Modify Company Data</h1>
					</div>

					<div>
						<form action="{{path('company_update', {id: company.id})}}" method="POST">
							<div class="form-group">
								<label>Name:
								</label>
								<input type="text" class="form-control" name="company_name" value="{{company.name}}">
								<small class="form-text text-muted">Numeric identification of a company.  Numbers only!</small>
							</div>
							  <div class="form-group">
                                <label>UAB:</label>
                                 <input type="text" class="form-control input-text" name="company_uab" value="{{company.uab}}">
                                <small class="form-text text-muted">Name of the company</small>
                            </div>
							<div class="form-group">
								<label>Index:
								</label>
								<input type="text" class="form-control" name="company_address" value="{{company.address}}">
								<small class="form-text text-muted">Address of a company. Numbers only!</small>
							</div>
							 <div class="form-group">
                                <label>Address:</label>
                                <input type="text" class="form-control input-text" name="company_place" value="{{company.place}}">
                                <small class="form-text text-muted">Address of a company.</small>
                            </div>
							<input type="hidden" name="token" value="{{ csrf_token('check_csrf_hidden') }}"/>
							<button type="submit" class="btn save-btn btn-add btn-block">Edit Company Data</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}