<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="http://localhost/final/public/build/app.css?v={{date().timestamp}}" rel="stylesheet"/>
        <script src="http://localhost/final/public/build/app.js" defer></script>

        {# <img src="{{asset('images/paveiksliukas.gif')}}">
        <img src="{{path('get_image',{id:85547})}}"> #}

        <!-- include summernote css/js -->
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body  style="background-image:url('{{ asset('./build/background.png') }}') ">
    {% include 'menu.html.twig' %} 
        <main class="py-4">
            {% if errors is defined and errors|length > 0 %}
                {% include 'errors/validation.html.twig' %}
            {% endif %}

            {% if success is defined and success|length > 0 %}
                {% include 'messages/success.html.twig' %}
            {% endif %}

            {% block body %}{% endblock %}
        
        </main>
    </body>
</html>
